.remember {
  background: rgba(30, 30, 30, 0.05);
}

.discover-btn {
  background: #007f5f;
  border-radius: 17px;
  border: none;
  padding: 10px 35px;
}
.discover-btn:hover {
  background-color: darkgreen;
}
.cart-border:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
