.nav-z {
  z-index: 1;
}

.nav-logo {
  width: 190px;
}
.nb-sz {
  font-size: 15px;
}
.nav-btn {
  text-decoration: none;
  font-weight: 600;
  padding: 16px 34px;
  color: #fff !important;
  background: #007f5f;
  border-radius: 17px;
}
.nav-btn:hover {
  background-color: darkgreen;
  color: #fff;
}
.hover-nav {
  text-decoration: none !important;
  color: var(--black) !important;
}
.hover-nav:hover {
  color: blue !important;
}
