.banner {
  background-color: #f8f8f8f8;
  background-image: url(../../../public/img/banner.png);
}
h1 {
  color: var(--black) !important;
}
.banner-padding {
  padding: 130px;
}
.border-outline {
  outline: none !important;
}

.banner-text {
  font-weight: 600;
  font-size: 55px;
}

.banner-btn {
  padding: 16px 35px;
  background: #007f5f;
  border-radius: 17px;
  color: #ffffff !important;
  text-decoration: none;
}
.banner-btn:hover {
  background-color: darkgreen;
  color: #fff;
}
.input-outline {
  outline: none;
}

.banner-search {
  width: 65px;
  border-radius: 15px;
  color: #ffffff;
  padding: 15px 0;
  text-align: center;
  background-color: #007f5f;
}
.banner-search:hover {
  background-color: darkgreen;
}
@media (min-width: 250px) and (max-width: 767px) {
  .banner {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
  }

  .banner-padding {
    padding: 80px;
    backdrop-filter: blur(5px);
  }

  .banner-text {
    font-weight: 600;
    font-size: 35px;
  }
}

@media (min-width: 768px) {
  .banner {
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: bottom right;
  }

  .banner-padding {
    padding: 100px;
  }

  .banner-text {
    font-weight: 600;
    font-size: 55px;
  }
}

@media (min-width: 992px) {
  .banner {
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: bottom right;
  }

  .banner-text {
    font-weight: 600;
    font-size: 65px;
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
